Q1. 평균점수 구하기
홍길동씨의 과목 평균 점수

In [3]:
score = [80, 75, 55]
(score[0]+score[1]+score[2])/3

70.0

Q2. 홀수 짝수 판별
자연수 13이 홀수인지 짝수인지 확인

In [5]:
num = 13
if 13%2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

Q3. 주민등록번호 나누기

In [11]:
number = "881120-1068234"
date = number[0:6]
identy = number[7:]
print(date)
print(identy)

881120
1068234

Q4. 주민등록번호 인덱싱

In [13]:
number = "881120-1068234"
print(number[7])

1

Q5. 문자열 바꾸기

In [14]:
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

Q6. 리스트 역순 정렬하기
[1,3,5,4,2] -> [5,4,3,2,1]

In [17]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

Q7. 리스트를 문자열로 만들기

In [18]:
a = ['Life','is','too','short']
result = " ".join(a)
print(result)

Life is too short

Q8. 튜플 더하기

In [22]:
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

Q9. 딕셔너리의 키

In [23]:
a = dict()

a[[1]] = 'python'

TypeError: 'tuple' object does not support item assignment